SCYLLA_CONTACT_POINTS=127.0.0.1
SCYLLA_PORT=9042
SCYLLA_KEYSPACE=treasury
MASTER_PASSPHRASE=replace_with_a_unique_secret_of_at_least_20_characters
WALLET_ACCESS_PASSPHRASE=replace_with_a_different_unique_secret_of_at_least_20_characters
LOCAL_WALLET_STORE=./runtime/wallet_store.json
LOCAL_TEMPLATE_STORE=./runtime/template_store.json
PORT=8006
ETHEREUM_RPC_URL=https://mainnet.infura.io/v3/YOUR_INFURA_PROJECT_ID
BTC_USER=your_btc_rpc_username
BTC_PASS=your_btc_rpc_password
CORS_ALLOWED_ORIGINS=http://localhost:4000
COINGECKO_API_KEY=YOUR_COINGECKO_API_KEY
