SCYLLA_CONTACT_POINTS=127.0.0.1
SCYLLA_PORT=9042
SCYLLA_KEYSPACE=treasury
MASTER_PASSPHRASE=replace_with_a_unique_secret_of_at_least_20_characters
WALLET_ACCESS_PASSPHRASE=replace_with_a_different_unique_secret_of_at_least_20_characters
LOCAL_WALLET_STORE=./runtime/wallet_store.json
LOCAL_TEMPLATE_STORE=./runtime/template_store.json
PORT=8006
ETHEREUM_RPC_URL=https://mainnet.infura.io/v3/YOUR_INFURA_PROJECT_ID
COINGECKO_API_KEY=YOUR_COINGECKO_API_KEY
ETH_TRANSACTION_RECEIPT_TIMEOUT_SECONDS=500
TOKEN_APPROVAL_POST_TIMEOUT_GRACE_SECONDS=500
TOKEN_SWAP_POST_TIMEOUT_GRACE_SECONDS=500
MANAGED_TOKEN_DISTRIBUTOR_DEPLOY_POST_TIMEOUT_GRACE_SECONDS=500
FINAL_TIMEOUT_RECONCILIATION_GRACE_SECONDS=500
